@font-face {
    font-family: 'Oswald';
    src: url(Oswald-Regular.ttf);
}

body {
    font-family: 'Oswald', sans-serif;
}

#editor {
    /*font: inherit!important;*/
    bottom: 0;
    top: 10%;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 15px;
    font-style: "normal";
    font-weight: 600;
    line-height: 20px
}

.navbar-nav>li {
    padding-left: 10px;
    padding-right: 10px;
}


/*#toolbar {
    top: 0;
    bottom: 93%;
    background-color: #001832;
    -webkit-user-select: none;
}

#toolbar span:hover {
    transform: scale(1.5);
    color: #BED8DF
}

#toolbar span:active {
    transform: scale(1);
}

.toolbarbtn {
    color: #36BEC1;
    padding: 1%;
    margin-left: 2%;
    position: relative;
    vertical-align: middle;
}*/
